absl-py==1.4.0
accelerate==1.11.0
addict==2.4.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
alphafold==2.0.0
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
appdirs==1.4.4
asttokens==3.0.0
astunparse==1.6.3
async-timeout==5.0.1
attrs==25.3.0
beautifulsoup4==4.14.2
biopython==1.79
Brotli @ file:///D:/bld/brotli-split_1761591996260/work
cachetools==6.2.2
certifi==2025.8.3
cffi @ file:///D:/bld/cffi_1761202875932/work
charset-normalizer==2.0.12
chex==0.1.90
click==8.3.0
cloudpickle==3.1.1
colabfold==1.5.5
colorama==0.4.6
contourpy @ file:///D:/bld/contourpy_1744743084386/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1733332471406/work
Cython==3.2.3
datamol==0.12.5
decorator==5.2.1
deli==0.2.4
dlib @ file:///C:/bld/dlib-split_1761791682434/work
dm-haiku==0.0.10
dm-tree==0.1.9
docker==7.1.0
e3nn==0.5.9
exceptiongroup==1.3.0
executing==2.2.1
face-recognition==1.3.0
face_recognition_models==0.3.0
fair-esm==2.0.0
filelock==3.13.1
flatbuffers==25.9.23
fonttools==4.60.0
freetype-py @ file:///home/conda/feedstock_root/build_artifacts/freetype-py_1650983368720/work
frozenlist==1.7.0
fsspec==2024.6.1
gast==0.4.0
gitdb==4.0.12
GitPython==3.1.45
google-auth==2.43.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
graphviz==0.21
greenlet @ file:///D:/bld/bld/rattler-build_greenlet_1777329014/work
grpcio==1.75.0
h2 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_h2_1756364871/work
h5py==3.15.1
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
huggingface-hub==0.35.3
hydra-core==1.3.2
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna==3.10
immutabledict==4.2.2
importlib-metadata==4.13.0
importlib_resources==7.1.0
iniconfig==2.3.0
ipython==8.37.0
jax==0.4.26
jaxlib==0.4.26
jedi==0.19.2
Jinja2==3.1.4
jmp==0.0.4
joblib==1.5.2
keras==2.10.0
Keras-Preprocessing==1.1.2
kiwisolver @ file:///D:/bld/bld/rattler-build_kiwisolver_1762488749/work
libclang==18.1.1
lightning==2.6.1
lightning-utilities==0.15.2
llvmlite==0.45.1
loguru==0.7.3
lxml==6.0.2
Markdown==3.9
markdown-it-py==4.0.0
MarkupSafe==2.1.5
-e git+https://github.com/LigandPro/Matcha.git@3dcf2e6552a2ded255734b1e8f36a9893b7ff06d#egg=matcha
matplotlib==3.10.6
matplotlib-inline==0.1.7
mdurl==0.1.2
ml_collections==1.1.0
ml_dtypes==0.5.3
mpmath==1.3.0
multidict==6.6.4
munkres==1.1.4
mypkg==1.0.0
namex==0.1.0
networkx==3.3
nodeenv==1.9.1
numba==0.62.1
numpy @ file:///D:/bld/numpy_1707225570061/work/dist/numpy-1.26.4-cp310-cp310-win_amd64.whl#sha256=6761da75b1528684e6bf4dabdbdded9d1eb4d0e9b299482c7ce152cfb3155106
oauthlib==3.3.1
omegaconf==2.3.0
opencv-python==4.12.0.88
opt-einsum-fx==0.1.4
opt_einsum==3.4.0
optree==0.17.0
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1745345660/work
pandas==1.5.3
parso==0.8.5
pillow @ file:///D:/bld/bld/rattler-build_pillow_1758208682/work
platformdirs==4.5.0
pluggy==1.6.0
ply @ file:///home/conda/feedstock_root/build_artifacts/ply_1733239724146/work
Pmw @ file:///D:/bld/pmw_1761504251201/work
posebusters==0.6.0
POT==0.9.6.post1
ProDy @ file:///home/conda/feedstock_root/build_artifacts/prody_1738262312424/work
progressbar2==4.5.0
prompt_toolkit==3.0.52
propcache==0.3.2
protobuf==3.19.6
PSIPREDauto==0.0.1.1.1
psutil==7.1.0
pure_eval==0.2.3
py3Dmol==2.5.3
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycairo==1.29.0
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1733195786/work
pydantic==2.12.4
pydantic_core==2.41.5
pyflowdock==0.3.35
Pygments==2.19.2
pymol==3.1.0
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1690737849915/work
PyQt5==5.15.11
PyQt5_sip @ file:///D:/bld/pyqt-split_1759495424548/work/pyqt_sip
pyriemann==0.9
pyright==1.1.406
PySocks @ file:///D:/bld/pysocks_1733217287171/work
pytest==8.4.2
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dateutil_1751104122/work
python-docx==1.2.0
python-dotenv==1.2.1
python-flowdock==0.1
python-utils==3.9.1
pytorch-lightning==2.5.5
pytz==2025.2
pywin32==311
PyYAML==6.0.2
rdkit==2025.9.1
rdkit-pypi==2023.3.1b1
regex==2025.9.18
reportlab @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_reportlab_1777463641/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1755614211359/work
requests-oauthlib==2.0.0
rich==14.2.0
rlPyCairo @ file:///home/conda/feedstock_root/build_artifacts/rlpycairo_1756864152814/work
rootutils==1.0.7
rsa==4.9.1
rustworkx==0.17.1
safetensors==0.6.2
scikit-learn==1.7.2
scipy @ file:///C:/bld/scipy-split_1739790833536/work/dist/scipy-1.15.2-cp310-cp310-win_amd64.whl#sha256=4748853a0c723cda1fa2bdead847ba7c2443bde9cec3436e3e7243cfa54b55ff
seaborn==0.13.2
selfies==2.2.0
sentencepiece==0.2.1
sentry-sdk==2.43.0
shap==0.49.1
sip @ file:///D:/bld/sip_1759437840598/work
six @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_six_1753199211/work
slicer==0.0.8
smmap==5.0.2
soupsieve==2.8
spyrmsd==0.9.0
SQLAlchemy @ file:///D:/bld/bld/rattler-build_sqlalchemy_1775241419/work
stack-data==0.6.3
sympy==1.13.1
tabulate==0.9.0
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.10.0
tensorflow-estimator==2.10.0
tensorflow-io-gcs-filesystem==0.31.0
tensorflow_cpu==2.20.0
termcolor==3.1.0
threadpoolctl==3.6.0
timm==1.0.22
tokenizers==0.22.1
toml @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_toml_1764486833/work
tomli==2.3.0
toolz==1.1.0
torch==2.5.1+cu124
torch-dct==0.1.6
torch-geometric==2.6.1
torch_cluster==1.6.3+pt25cu124
torch_scatter==2.1.2+pt25cu124
torch_sparse==0.6.18+pt25cu124
torch_spline_conv==1.2.2+pt25cu124
torchaudio==2.5.1+cu124
torchmetrics==1.8.2
torchvision==0.20.1+cu124
tqdm==4.67.1
traitlets==5.14.3
transformers==4.57.1
typing-inspection==0.4.2
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1756220668/work
tzdata==2025.2
unicodedata2 @ file:///D:/bld/unicodedata2_1762268899048/work
urllib3==1.26.20
uv==0.12.8
wandb==0.22.3
wcwidth==0.2.14
Werkzeug==3.1.3
win32_setctime==1.2.0
win_inet_pton @ file:///D:/bld/win_inet_pton_1733130564612/work
wrapt==1.17.3
yacs==0.1.8
yarl==1.20.1
zipp==3.23.0
zstandard==0.25.0
